#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.icon-btn {
  width: 3.75rem;
  height: 3.75rem;
}

@media (min-width: 768px) {
  main {
    background-image: url('./assets/bg.jpeg');
  }

  .icon-btn {
    width: 4.5rem;
    height: 4.5rem;
  }
}

@media (max-width: 767px) {
  .header {
    background-image: linear-gradient(to right, rgb(180, 0, 0), rgb(211, 0, 116));
  }
}